@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-weight: 400;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    font-family: Charter, 'Bitstream Charter', 'Charis SIL', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    line-height: 1.3 !important;
    color: #333;
    /* font-family: 16px -apple-system, BlinkMacSystemFont, sans-serif; */
    /* font-weight: 700; */
}

/* can't override Tailwind Typography in config so doing it here */
.dark h1 {
    color: white;
}

.dark h2 {
    color: white;
}

.prose-xl ul {
    /* list-style-type: disc; */
}

.react-tweet-theme img {
    margin: auto !important;
}

pre {
    overflow: scroll;
    background-color: #333;
    color: white;
}


table td {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 0 solid #e5e7eb;
}